<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="fragments/header :: navbar"></div>

<div>
    <a th:href="'/story/' + ${story.getId()}">
        <span th:text="${story.getTitle()}"></span>
    </a>
    <span> by </span>
    <a th:href="'/user/' + ${story.getAuthorId()}">
        <span th:text="${story.getAuthorNickname()}"></span>
    </a>
</div>
<div th:text="${story.getCreated()}"></div>
<div th:text="${story.getBody()}"></div>

</body>
</html>